/* CSS */
.featured {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}

.featuredItem {
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
  flex: 1;
  transition: transform 0.4s ease,box-shadow 0.4s ease;  /* Add a transition to the transform property */
}

.featuredItem:hover {
  transform: scale(1.05); /* Increase the size by 5% on hover */
  border: black;
  box-shadow: 10px 10px 100px rgba(0.3, 0.3, 0.3, 0.3);
}

.featuredImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featuredTitles {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
